<h1>New todo with sig</h1>

<div>
  <strong>Body:</strong>
  <%= @todo_with_sig.body %>
</div>

<div>
  <strong>Finished:</strong>
  <%= @todo_with_sig.finished? ? "Yes" : "No" %>
</div>

<%= form_with(model: @todo_with_sig, url: redo_todo_with_sigs_path) do |form| %>
  <!-- There should be no errors -->

  <%= form.hidden_field :body %>
  <%= form.hidden_field :finished %>

  <div>
    <%= form.submit "Make Changes" %>
  </div>
<% end %>

<%= form_with(model: @todo_with_sig) do |form| %>
  <!-- There should be no errors -->

  <%= form.hidden_field :body %>
  <%= form.hidden_field :finished %>

  <%= hidden_field_tag :sig, @todo_with_sig.signature %>

  <div>
    <%= form.submit "Really Save" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to todos", todos_path %>
</div>
